.row{
	margin: 0;
}
.breadcrumb{
	margin-bottom: 0;
}
.cn-product{
	padding: 5em 20px 5em 20px;
}
.cn-image{
	text-align: center;
}
.cn-image img{
	max-width: 100%;
}

.product-name{
	margin-left: 0;
}