
<div class="cn-product">

	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a routerLink="/">Menú</a></li>
	    <li class="breadcrumb-item active" aria-current="page">Producto</li>
	  </ol>
	</nav>

	<div class="row">

		<div class="cn-image col-12 col-sm-12 col-md-5 col-lg-5">
			<img src="assets/img/product.png" alt="Card image cap">
		</div>
		<div class="cn-details col-12 col-sm-12 col-md-7 col-lg-7 no-padding">
				<h4 class="product-name">
					{{product.nombre}}
				</h4>
				<h4 class="no-padding product-price">
					{{ product.costo | currency:'USD':true:"1.0-2" }}
				</h4>
			<p>
				{{product.descripcion}}
			</p>
			<button type="button" class="btn btn-danger btn-delete" data-toggle="modal" data-target="#modalDelete">Eliminar</button>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Eliminar Producto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
        	¿Está seguro que desea eliminar <b>{{product.nombre}}</b>?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="onDeleteProduct()">Eliminar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalResultDelete" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p>
        	{{ modalMessage }}
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="acceptModalSuccess()">Aceptar</button>
      </div>
    </div>
  </div>
</div>
