/*
.container {
	display: table;
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 1em;
    max-width: 28em;
}
.content{
    display: table-cell;
    vertical-align: middle;
}
.card{
	padding: 1em;
}
.login-btn{
	width: 100%;
}
.logo{
	width: 100%;
}
*/

.cn-landing{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    overflow: hidden;
    background: url('/assets/img/landing.jpg');
    background-size: cover;
    background-position: center;
    display: table;
}

.cn-landing img{
	width: 100%;
}

.cn-landing .cn-title{
	display: table-cell;
	vertical-align: middle;
}

.cn-landing .cn-title p{
	color: white;
    width: 70%;
    padding-left: 1em;
    font-size: 19pt;
    min-width: 12em;
}