<nav *ngIf="logged" class="navbar fixed-top navbar-dark bg-dark" id="tst">
  <a class="navbar-brand" href="#">Mi Tienda</a>
  <form class="form-inline">
    <span class="navbar-text user-text">
      {{user.nombre}}
    </span>
    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modalLogout">
      <i class="fa fa-sign-out"></i>
    </button>
  </form>
</nav>

<nav *ngIf="!logged" class="navbar fixed-top navbar-dark bg-dark" id="tst">
  <a class="navbar-brand" href="#">Mi Tienda</a>
  <form class="form-inline">
    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#LoginModal">Ingresar</button>
  </form>
</nav>


<router-outlet></router-outlet>


<div id="LoginModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Ingresar</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form>
    <div class="modal-body">
    
      <div class="form-group">
        <label for="nickname">Usuario</label>
        <input [(ngModel)]="user.nickname" name="nickname" type="text" class="form-control" id="nickname" placeholder="Nombre de Usuario" required>
      </div>
      <div class="form-group">
        <label for="contrasena">Contraseña</label>
        <input [(ngModel)]="user.contrasena" name="password" type="password" class="form-control" id="contrasena" placeholder="Contraseña" required>
      </div>

    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" (click)="onLogin(user)">Iniciar Sesión</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
    </div>
    </form>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="modalLogout" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Eliminar Producto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          ¿Está seguro que desea Salir?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="onLogout()">Salir</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalResult" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p>
          {{ modalMessage }}
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalConexError" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
    <div class="modal-header">
    <h5 class="modal-title">Error</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
      <div class="modal-body">
        <p>
          Hubo un error de conexión, por favor intenta más tarde.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>