<div class="cn-catalog">
	
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalNuevoProducto">
    <i class="fa fa-plus"></i>
    Nuevo Producto
  </button>

	<div *ngFor="let catg of objectKeys(productList); let i = index">
		<h3 class="title-catg">{{ catg }}</h3>
		<div class="row cn-catg">
			<div    *ngFor="let product of productList[catg]; let j = index"
			   		class="cn-product col-12 col-sm-6 col-md-4 col-lg-3">
				<div class="card" (click)="onProductDetail(product)">
					<div class="card-img-top tile-product">
				  		<img src="assets/img/product.png" alt="Card image cap">
					</div>
				  <div class="card-body">
            <div class="card-title">
				      <p>{{ product.nombre }}</p>
            </div>
				    <h4 class="no-margin">{{ product.costo | currency:'USD':true:"1.0-2" }}</h4>
				  </div>
				</div>
			</div>
		</div>
	</div>

</div>

<div id="modalNuevoProducto" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Nuevo Producto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (ngSubmit)="onNuevoProducto(newProduct)" #productForm="ngForm">
        <div class="modal-body">
          <div class="form-group">
            <label>Nombre</label>
            <input [(ngModel)]="newProduct.nombre" name="nickname" type="text" class="form-control" maxlength="50"required>
          </div>
          <div class="form-group">
            <label>Descipción</label>
            <textarea [(ngModel)]="newProduct.descripcion" name="description" class="form-control" rows="3" maxlength="250" required></textarea>
          </div>

          <div class="form-group">
            <label>Costo</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">$</span>
              </div>
              <input [(ngModel)]="newProduct.costo" name="costo" type="number" class="form-control" maxlength="50"aria-describedby="basic-addon1" required>
            </div>
          </div>

          <div class="form-group">
            <label>Categoría</label>
            <select class="form-control" [(ngModel)]="newProduct.catg_id" name="categoria" required>
              <option *ngFor="let catg of categoriasNP; let k = index" [ngValue]="catg.id">{{catg.nombre}}</option>
            </select>
          </div>

        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="!productForm.form.valid">Crear</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalResultList" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p>
          {{ modalMessage }}
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>