.cn-catalog{
	padding: 5em 20px 5em 20px;
}

.title-catg{
    margin: 30px 0px 20px 0px;
    padding-bottom: 5px;
    color: #333;
    border-bottom: 1px solid #c5c6c6;
}
.title-catg:first-child{
	margin-top: 20px;
}
.cn-catg{
	padding: 0 10px;
}
.card-img-top img{
	width: 100%;
    max-width: 10em;
    height: auto;
    padding-top: 1em;
}
.cn-product{
	padding: 5px;
	text-align: center;
}
.card{
	cursor: pointer;
    -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.1);
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.1);
    background: white;
    border: none;
}
.card:hover{
}

.card-title {
    width: 100%;
    display: table;
    height: 3em;
    margin-bottom: .5em;
}
.card-title p{
    display: table-cell;
    vertical-align: middle;
}