/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.no-padding{
	padding: 0 !important;
}
.no-margin{
	margin: 0 !important;
}
.row{
	margin: 0;
}
.breadcrumb{
	background: none;
}